#!/bin/env bash
LISTEN_DIR="/home/steam/7days/7DaysToDieServer_Data"
LISTEN_FILTER="output_log__*"
LISTEN_FILE=$(ls -r -1 ${LISTEN_DIR}/${LISTEN_FILTER} | head -n1)
PLAYER_JOIN_FILTER="(?<=Player ')(.*)(?=\' joined the game)"
PLAYER_DISCONNECT_FILTER="(?<=Player ')(.*)(?=\' left the game)"
GAME="7days to Die"

API_URL="http://10.0.4.2:3001/api/v1/gameserver/player"

